@import url(uno.css);
@import url(syntax.css);

/* Modifications */
body {
  /*background-color: ghostwhite;*/
}

a {
  text-decoration: none;
  color: #23527c;
}

a:hover {
  color: #337AB7;
  text-decoration: none;
}

blockquote {
  background-color: #f6f3f3;
  border-left: 4px solid #56709c;
  min-height: 90px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1em;
}

.shrug {
  margin-top: 1em;
  font-size: 5em;
  font-weight: bold;
  line-height: 1em;
}

pre {
  font-size: 1em;
  background-color: #333333;
}

pre.highlight,
.highlight pre {
  /*padding: 10px;*/
  padding: 5px;
}

pre.highlight code,
.highlight pre code {
  white-space: pre-wrap;
}

.post pre {
  width: 100%;
}

.lineno {
  color: gray;
}

.btn {
  border-radius: 5px;
  border: 1px solid #23527c;
  color: #23527c;
}

.btn:hover, .navigation__item a:hover {
    color: #337ab7;
    border-color: #337ab7;
}

.btn,
.navigation__item a {
  margin: 5px 0;
  white-space: nowrap;
}

.pagination__page-number {
  display: inline-block;
  padding: 10px;
}

.categories a,
.tags a {
  border: 1px solid #e25440;
  border-radius: 20px;
  color: #e25440;
  display: inline-block;
  font-size: 12px;
  margin: 5px 0;
  padding: 5px 10px;
  text-shadow: none;
  white-space: nowrap;
}

.post-meta__tags {
  /*font-size: 14px;*/
  /*padding: 0 5px;*/
  padding: 0 5px 0 0;
}

.footer__copyright {
    margin: 0 20px 10px;
}

.user-image {
  margin-bottom: 1.2em;
  position: relative;
  width: 100px;
  height: 100px;
  /*border: 3px solid #fff;*/
  /*border: 3px solid #333;*/
  /*border-radius:100%;*/
}

.quote-summary blockquote {
  margin-left: 190px;
}
.quote-image {
  float: left;
  max-width: 100%;
  max-height: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.quote-summary blockquote {
  margin-left: 0px;
}

.quote-post {
  font-size: 1.5em;
}

@media all and (max-width: 960px) {
  .user-image {
    display: none;
  }

  .site-logo {
    display: none;
  }
}

.menu-navigation {
  list-style-type: none;
  margin-left: 0px;
}

.post-image-thumbnail {
  float: left;
  /*margin-bottom: 1em;*/
  margin-right: 20px;
  max-height: 150px;
  max-width: 400px;
}

.project-thumbnail {
  float: left;
  max-width: 150px;
  margin-right: 20px;
}


@media all and (max-width: 960px) {
  .content-wrapper__inner {
    padding: 25px 0 !important;
  }
  .image-wrap {
    margin-bottom: 0px !important;
  }

  .post-featured-image {
    float: none !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 0px !important;
    max-height: 150px !important;
    max-width: 100% !important;
  }

  .post-image-thumbnail {
    float: inherit;
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .btn, .navigation__item a {
    padding: 6px 6px;
    font-size: .8em;
  }

  .post-list__post-title {
    text-align: center;
  }
  .excerpt {
    float: left;
    font-size: .9em;
  }

  .post-meta {
    font-size: .9em;
  }

  .panel-main__content {
    margin-top: -20px;
  }
  .panel-cover.panel-cover--collapsed .panel-cover__description {
    display: block;
  }

  /*.post-header .post-title {
    font-size: 1.5em;
    text-align: center;
  }*/
}

@media all and (max-width: 460px) {
  .post-header .post-title {
    font-size: 1.5em;
    text-align: center;
  }
  .shrug {
    margin-top: .5em;
    font-size: 2.5em;
  }
}

@media all and (max-width: 960px) and (min-width: 460px) {
  .post-header .post-title {
    font-size: 2em;
    text-align: center;
  }
}

.post-featured-image {
  float: left;
  margin-top: 12px;
  margin-bottom: 1em;
  margin-right: 20px;
  max-height: 100%;
  max-width: 100%;
}

.planet-powershell {
  margin-top: 2em;
  width: 225px;
  height: 94px;
}


p>img {
  display: block;
  margin-left: auto;
  margin-right: auto
}

.social__divider {
  margin: 20px auto;
  color: #333;
  border-top: 1px solid rgba(10, 10, 19, 0.14);
}

.disqus_wrapper {
  margin-top: 20px;
}

/** Large feature header image*/
.image-wrap {
	position: relative;
	margin-bottom: 2em;
	@include clearfix;
	&:after {
		content: " ";
		display: block;
		position: absolute;
		bottom: 0;
		left: 8%;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-bottom-color: $bodycolor;
		@media #{$small} {
			left: 25%;
		}
		@media #{$large} {
			border-width: 20px;
		}
		@media #{$x-large} {
			left: 33.333333333%;
		}
	}
	img {
		width: 100%;
		height: auto;
		-ms-interpolation-mode: bicubic;
	}
	.headline-wrap {
		position: absolute;
		bottom: 25px;
		@include prefix(12,1);
		@media #{$small} {
			left: 25%;
			margin-left: 0;
		}
		@media #{$x-large} {
			@include prefix(12,1);
		}
		h1, h2 {
			color: $white;
			@include text-shadow(0 1px 2px rgba(0,0,0,.25));
		}
	}
}

/* General style */
.grid-gallery ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.grid-gallery figure {
	margin: 0;
}

.grid-gallery figure img {
	display: block;
	width: 100%;
}

.grid-gallery figcaption h3 {
	margin: 0;
	padding: 0 0 0.5em;
}

.grid-gallery figcaption p {
	margin: 0;
}

/* Grid style */
.grid-wrap {
	max-width: 69em;
	margin: 0 auto;
	padding: 0 1em 1.875em;
}

.grid {
	margin: 0 auto;
}

.grid li {
	width: 25%;
	float: left;
	cursor: pointer;
}

.grid figure {
	padding: 15px;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.grid li:hover figure {
	opacity: 0.7;
}

.grid figcaption {
	background: #e4e4e4;
	padding: 25px;
}

.thumbnail-wrapper {
  margin: 10px;
}

.show-disqus {
  color: #333333;
}

a:focus {
  text-decoration: none;
}

.panel {
     padding: 15px;
     margin-bottom: 20px;
     background-color: #fff;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
     box-shadow: 0 1px 1px rgba(0,0,0,0.05)
 }

#markdown-toc {
  font-size: 0.9em;
  display: inline-block;
  background: #f8f8f8;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 0.5em 1em 0.5em 2em;
  margin: 0;
}

/*
 .panel-heading {
     padding: 10px 15px;
     margin: -15px -15px 15px;
     background-color: #f5f5f5;
     border-bottom: 1px solid #ddd;
     border-top-right-radius: 3px;
     border-top-left-radius: 3px
 }

 .panel-title {
     margin-top: 0;
     margin-bottom: 0;
     font-size: 17.5px;
     font-weight: 500
 }

 .panel-footer {
     padding: 10px 15px;
     margin: 15px -15px -15px;
     background-color: #f5f5f5;
     border-top: 1px solid #ddd;
     border-bottom-right-radius: 3px;
     border-bottom-left-radius: 3px
 }

 .panel-primary {
     border-color: #428bca
 }

 .panel-primary .panel-heading {
     color: #fff;
     background-color: #428bca;
     border-color: #428bca
 }

 .panel-success {
     border-color: #d6e9c6
 }

 .panel-success .panel-heading {
     color: #468847;
     background-color: #dff0d8;
     border-color: #d6e9c6
 }

 .panel-warning {
     border-color: #fbeed5
 }

 .panel-warning .panel-heading {
     color: #c09853;
     background-color: #fcf8e3;
     border-color: #fbeed5
 }

 .panel-danger {
     border-color: #eed3d7
 }

 .panel-danger .panel-heading {
     color: #b94a48;
     background-color: #f2dede;
     border-color: #eed3d7
 }

 .panel-info {
     border-color: #bce8f1
 }

 .panel-info .panel-heading {
     color: #3a87ad;
     background-color: #d9edf7;
     border-color: #bce8f1
 }*/
