---
layout: default
---

<div class="main-post-list">

  <ol class="post-list">
    {% for post in paginator.posts %}
      {% unless post.draft %}
        <li>
          {% if post.type == 'quote' %}
            {% include quote-summary.html %}
          {% else %}
            {% include post-summary.html %}
          {% endif %}
        
          <hr class="post-list__divider">
        </li>
      {% endunless %}
    {% endfor %}
  </ol>

  {% if paginator.previous_page or paginator.next_page %}
      {% include pagination.html %}
  {% endif %}

</div>
