<!-- ChatOps the Easy Way -->
<div style="text-align: center;">
    <h3>Like books? Check these out!</h3>

    <ul class="menu-navigation">

        <!-- Building PowerShell Modules -->
        <li class="navigation__item book">
            <a style="opacity: 1" href="https://leanpub.com/building-powershell-modules" target="_blank" title="Building PowerShell Modules">
              <img style="margin-top: 2em; width: 125px;" src="{{ site.baseurl }}/images/building-powershell-modules-cover.png" alt="Building PowerShell Modules">
            </a>
          </li>

          <!-- ChatOps the Easy Way -->
          <li class="navigation__item book">
            <a style="opacity: 1" href="https://leanpub.com/chatops-the-easy-way" target="_blank" title="ChatOps the Easy Way book">
              <img style="margin-top: 2em; width: 125px;" src="{{ site.baseurl }}/images/chatops-the-easy-way-cover.png" alt="ChatOps the Easy Way">
            </a>
          </li>

    </ul>
</div>
