<hr class=social__divider>
<h5>Sharing is caring</h5>
<div class="ssk-group ssk-count ssk-round">
  <a target="blank" href="https://twitter.com/intent/tweet?text={{ site.baseurl }}{{ page.url }}" class="ssk ssk-twitter"></a>
  <a target="blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.baseurl }}{{ page.url }}" class="ssk ssk-facebook"></a>
  <a target="blank" href="https://plus.google.com/share?url={{ site.baseurl }}{{ page.url }}" class="ssk ssk-google-plus"></a>
  <a target="blank" href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ site.baseurl }}{{ page.url }}&amp;title={{ page.title }}&amp;summary=fff" class="ssk ssk-linkedin"></a>
  <a target="blank" href="http://pinterest.com/pin/create/button/?url={{ site.baseurl }}{{ page.url }}&amp;description={{ page.title }}" class="ssk ssk-pinterest"></a>
  <a target="blank" href="mailto:?subject={{ page.title}}&amp;body={{ site.baseurl }}{{ page.url }}" class="ssk ssk-email"></a>
</div>
