---
layout: default
---
<article class="post-container post-container--single">




  <header class="post-header">

    <div class="row">

        {% if page.featured-image %}
          <div class="col-lg-4">
            <!-- <div class="image-wrap"> -->

              {% if page.type == 'quote' %}
                <img class="quote-image" src="{{ site.url }}/images/quote2.png"
                  alt="{{ page.title }} feature image">
              {% else %}
                <img class="post-featured-image" src=
                  {% if page.featured-image contains 'http' %}
                    "{{ page.featured-image }}"
                  {% else %}
                    "{{ site.url }}/images/{{ page.featured-image }}"
                  {% endif %}
                  alt="{{ page.title }} feature image">
              {% endif %}
            <!-- </div> -->
          </div>
        {% endif %}

        {% if page.type <> 'quote' %}
          <div class="col-lg-8">
            <h1 class="post-title">{{ page.title }}</h1>
          </div>
        {% else %}
          <div class="quote-post">
            <p class="excerpt">{{ page.excerpt | remove: '<p>' | remove: '</p>' }}</p>
          </div>
        {% endif %}


    </div>
    <div class="post-meta">
      <time datetime="{{ page.date | date: "%-d %b %Y" }}" class="post-meta__date date">Dreamed up on <span>{{ page.date | date: "%-d %b %Y" }}</span></time>
       <!-- &#8226; -->
       <span class="post-meta__tags">concerning {% for tag in page.tags %}
         <a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}
       </span>
    </div>
  </header>

  {% if page.type <> 'quote' %}
    <hr class="social__divider">
    <section class="post">
      {{ content }}
    </section>
  {% endif %}

  <!-- Social icons -->
  {% if page.share != false %}{% include social-share.html %}{% endif %}

  <!-- Disqus comments -->
  {% if page.comments != false and site.disqus_shortname %}
    <section id="disqus_thread" class="disqus_wrapper"></section>
    {% include disqus.html %}
  {% endif %}
</article>
